<h1>Shingeki no Airbnb</h1>

<div class="row">
  <% @flats.each do |flat| %>
    <div class="col-md-4">
        <div class="card-flat">
          <div class="card-flat-image" style="background-image: url('<%= flat.picture_url %>')"></div>
          <div class="card-flat-content">
            <div>
              <h5><%= flat.name %></h5>
              <%= flat.description %>
            </div>
            <h6 class="card-flat-pricing"><%= flat.price_per_night %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
