//Just for reference / future refactor

$snk-theme-colors: (
  "snk-light-blue": #59a5ac,
  "snk-blue": #466793,
  "snk-green": #42694a,
  "snk-brun-gris": #6e5864,
  "snk-brun-brun": #8f5e4e
);

$snk-light-blue: #59a5ac !default; //(89, 165, 172)
$snk-blue: #466793 !default; //(70, 103, 147)
$snk-green: #42694a !default; //(66, 105, 74)
$snk-brun-gris: #6e5864 !default; //(110, 88, 100)
$snk-brun-brun: #8f5e4e !default; //(143, 94, 78)
