.navbar {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   background-color: #42694a
}

.navbar-expand-lg {
   display: flex !important;
   flex-basis: auto;
}

.navbar-collapse {
   flex-basis: 100%;
   flex-grow: 1;
   align-items: center;
}

.navbar-light .navbar-brand {
   color: rgba(0,0,0,.9);
}

.navbar-brand {
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
   margin-right: 1rem;
   font-size: 1.25rem;
   text-decoration: none;
   white-space: nowrap;
}

.navbar .navbar-brand img {
  width: 40px;
}

// SNK Title animation

.navbar .text-animation {
  transform: translate(-50%, -30%);
  margin-left: 38%;
  width: 1000px;
  position: absolute;
  display: flex;
}

.navbar .text-animation h1 {
  margin: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 5em;
  color: transparent;
  background-image: asset_url("characters-for-index-animation.png");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  background-position: 500px 150px;
  font-family: 'Linotext'; // MODIF HERE
  animation: bloodAnimate 35s linear infinite;
  display: flex;
}

@keyframes bloodAnimate {
  0% {
    background-position: left 0px top 0px;
  }

  40% {
    background-position: left 400px top 0px;
  }

  60% {
    background-position: left 500px top 0px;
  }

  80% {
    background-position: left 600px top 0px;
  }

  100% {
    background-position: left 800px top 0px;
  }
}

.navbar-brand+.text-animation {
  display: none;
}

@media screen and (max-width: 990px) {
  .navbar .text-animation {
    display: none;
  }

  .navbar-brand+.text-animation {
    display: block;
    width: 100%;
    margin-left: 56%;
    margin-top: 16px;

    h1 {
      font-size: 3em;
      display: flex;
    }
  }
}


@media screen and (max-width: 675px) {
  .navbar-brand+.text-animation {
    margin-left: 60%;

    h1 {
      font-size: 2.2em;
    }
  }
}

@media screen and (max-width: 534px) {
  .navbar-brand+.text-animation {
    h1 {
      font-size: 1.6em;
    }
  }
}

@media screen and (max-width: 410px) {
  .navbar-brand+.text-animation {
    width: 50%;
    margin-left: 52%;

    h1 {
      font-size: 1.6em;
      margin-left: -24px;
    }
  }

}
