body {
  background-image:
  linear-gradient(to bottom, rgba(22, 43, 51, 0.52), black),
  asset_url("background-wall.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  color: #1b1b1a;
    h1{
    color: white;
  }
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
