.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// SNK Title animation

p{
  font-family: 'Linotext';
  font-size: 18px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

  /*text*/
  text-align: center;
  background-color: rgb(217, 217, 217);
  width: 1000px;
  height: 600px;
}
.text1{
  background-color: rgb(217, 217, 217);

  /*Moving the text box*/
  display: block;
  transform: translate(-50%, 0%);
  margin-left: 50%;

  /*Text alig*/
  text-align: left;
  width: 1000px;
  height: 750px;
  margin-bottom: 30px;
}
.text-animation{
  transform: translate(-50%, 0%);
  margin-left: 40%;
  width: 1000px;
}
.text-animation h1{
  margin: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 6em;
  color: transparent;
  background-image: url("https://preview.ibb.co/c6F389/atack.png");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  background-position: 500px 150px;
  font-family: arial;
  animation: bloodAnimate 35s linear infinite;
}
@keyframes bloodAnimate
{
  0%
  {
    background-position: left 0px top 0px;
  }

  40%
  {
    background-position: left 400px top 0px;
  }
    60%
  {
    background-position: left 500px top 0px;
  }
  80%
  {
    background-position: left 600px top 0px;
  }
  100%
  {
    background-position: left 800px top 0px;
  }
}

// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
   font-family: 'Linotext';
   src: url('lintxt.ttf') format("truetype");
}

h1 {
  font-family: 'Linotext';
}
